.home-main{
  position: relative;
  z-index: -1;
  top: -100px;
  width: 100%;
}
.home-banner{
  width: 100%;
  background-image: url('../../../assets/images/testRunners.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 25.9vh;
  padding-bottom: 17.8vh;
}
.home-banner img{
  width: 100%
}
.home-banner-title{

  color: #fff;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
.home-banner-title-middle{
  font-size: 192px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.6px
}
.home-banner-title-top{
  font-style: italic;
  font-size: 46px;
  letter-spacing: 2.8px;
  font-weight: 900;
}
.home-banner-title-bottom{
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1.2px;
}
.home-banner-events{
  height: 74px;
  width: 344px;
  background: #ff0058;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px
}
.home-banner-events-button{
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 23.6px;
  font-weight: 900;
  letter-spacing: 1.5px;
  font-style: italic;
}



.home-bottom{
  margin-bottom: -100px;
}
