@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700i|Montserrat:400,800');

.nav-bar{
  height: 100px;
  /*background: #333;*/
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar-content{
  padding-bottom: 12px;
  width: 89.4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-logo{
  font-family: 'Montserrat', sans-serif;
	font-size: 27px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.3px;
	color: #fff;

}
.nav-bar-logo span{
  font-family: 'Lobster Two', cursive;
	font-size: 37px;
	font-weight: normal;
	letter-spacing: 1.8px;
	color: #ff0058;
}



.nav-bar-buttons{
  display: flex;
  justify-content: space-between;
  width: 25vw;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 900;
	letter-spacing: 0.8px;
	text-align: center;
	color: #fff;
}






.nav-bar-underline{
  align-self: center;
  background-color: #ff0058;
  width: 89.4vw;
  height: 6px;
}
